@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
}

.block {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
}

.theme1 {
  background: #3a4764;
}
.theme1 header {
  color: #fff;
}
.theme1 #swicth {
  background-color: #232c43;
}
.theme1 #screen {
  background: #182034;
}
.theme1 #screen #calcInput {
  color: #fff;
}
.theme1 #buttons {
  background: #232c43;
}
.theme1 .btn-calc-func {
  background: #637097;
  box-shadow: 0 5px #404e72;
  color: #fff;
}
.theme1 .btn-calc-func:active {
  box-shadow: 0 1.5px #404e72;
}
.theme1 .btn-calc-prod {
  color: #444b5a;
  background: #eae3dc;
  box-shadow: 0 5px #b4a597;
}
.theme1 .btn-calc-prod:active {
  box-shadow: 0 1.5px #b4a597;
}
.theme1 .btn-calc-equal {
  color: #fff;
  background-color: #d03f2f;
  box-shadow: 0 5px #93261a;
}
.theme1 .btn-calc-equal:active {
  box-shadow: 0 1.5px #93261a;
}
.theme1 .attribution {
  color: #fff;
}
.theme1 .attribution a {
  color: #637097;
}

.theme2 {
  background: #e6e6e6;
  color: #fff;
}
.theme2 header {
  color: #444b5a;
}
.theme2 #swicth {
  background-color: #d1cccc;
}
.theme2 #screen {
  background: #ededed;
}
.theme2 #screen input {
  color: #444b5a;
}
.theme2 #buttons {
  background: #d1cccc;
}
.theme2 .btn-calc-func {
  background: #377f86;
  box-shadow: 0 5px #1b5f65;
  color: #fff;
}
.theme2 .btn-calc-func:active {
  box-shadow: 0 1.5px #1b5f65;
}
.theme2 .btn-calc-prod {
  background: #e5e4e1;
  box-shadow: 0 5px #a69d91;
  color: #444b5a;
}
.theme2 .btn-calc-prod:active {
  box-shadow: 0 1.5px #a69d91;
}
.theme2 .btn-calc-equal {
  color: #fff;
  background-color: #ca5502;
  box-shadow: 0 5px #893901;
}
.theme2 .btn-calc-equal:active {
  box-shadow: 0 1.5px #893901;
}
.theme2 .attribution {
  color: #444b5a;
}

.theme3 {
  background: #160628;
}
.theme3 header {
  color: #ffe53d;
}
.theme3 #swicth {
  background-color: #1d0934;
}
.theme3 #screen {
  background: #1d0934;
}
.theme3 #screen #calcInput {
  color: #fff;
}
.theme3 #buttons {
  background: #1d0934;
}
.theme3 .btn-calc-func {
  background: #58077d;
  color: #fff;
  box-shadow: 0 5px #bc15f4;
}
.theme3 .btn-calc-func:active {
  box-shadow: 0 1.5px #bc15f4;
}
.theme3 .btn-calc-prod {
  background: #341c4f;
  color: #ffe53d;
  box-shadow: 0 5px #871c9c;
}
.theme3 .btn-calc-prod:active {
  box-shadow: 0 1.5px #871c9c;
}
.theme3 .btn-calc-equal {
  color: #1b2428;
  background-color: #00e0d1;
  box-shadow: 0 5px #6cf9f2;
}
.theme3 .btn-calc-equal:active {
  box-shadow: 0 1.5px #6cf9f2;
}
.theme3 .attribution {
  color: #ffe53d;
}

header {
  min-height: 80px;
  display: grid;
  grid-template-columns: 70% 30%;
}
header .title {
  line-height: 80px;
}
header .dflex {
  display: flex;
  justify-content: end;
}
header .dflex .text {
  line-height: 75px;
  font-size: 14px;
  align-self: end;
  margin-right: 20px;
}

#swicth, #theme-title {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  width: 80px;
  text-align: center;
}

#swicth {
  height: 30px;
  border-radius: 100px;
  background: #fff;
}
#swicth .toggle-ball {
  cursor: pointer;
  text-indent: -99999px;
  position: relative;
  display: block;
}
#swicth .toggle-ball::after {
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  content: "";
}
#swicth .toggle-ball.active::after {
  visibility: visible;
}
#swicth .toggle-ball#theme1Toggle::after {
  background: #d03f2f;
}
#swicth .toggle-ball#theme2Toggle::after {
  background: #ca5502;
}
#swicth .toggle-ball#theme3Toggle::after {
  background: #00e0d1;
}

.calculator {
  width: 545px;
  height: 730px;
  margin: 80px auto;
}

.section {
  margin: 22.5px 0;
  border-radius: 10px;
  width: 100%;
}

#screen {
  height: 125px;
}
#screen input[type=text] {
  display: block;
  width: 95%;
  height: 100%;
  background: transparent;
  border: none;
  text-align: right;
  font-size: 75px;
  font-weight: bold;
  margin: 0 auto;
}
#screen input[type=text]:focus-visible {
  outline: none;
}

#buttons {
  height: 475px;
  display: grid;
  grid-template-columns: 100%;
  padding-top: 25px;
}
#buttons .last-row, #buttons .row {
  display: grid;
}
#buttons .last-row > .buttons:first-child, #buttons .row > .buttons:first-child {
  margin-left: 20px;
}
#buttons .last-row > .buttons:last-child, #buttons .row > .buttons:last-child {
  margin-right: 20px;
}
#buttons .last-row > .buttons, #buttons .row > .buttons {
  cursor: pointer;
  text-align: center;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  margin: 0 10px;
  border-radius: 20px;
  transition: all 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#buttons .row {
  grid-template-columns: repeat(4, 25%);
}
#buttons .last-row {
  grid-template-columns: repeat(2, 50%);
}

/*# sourceMappingURL=styles.css.map */
